<%= form_for(@movie) do |f| %>
      <% if @movie.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>
    
          <ul>
          <% @movie.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    
    <div class="col-2">
      <div class="field cover" >
        <%= image_tag @movie.picture(:medium), class: "img-thumbnail"%>
        <%= f.file_field :picture, class:"ch-btn"%>
      </div>
    </div>
    
    <div class="col-2">
      <div class="field">
        <%= f.label @movie.name, class:"field-title" %>
      </div>
      <div class="field field-desc">
        <%= f.label :description, class:"lbl"%>
        <%= f.text_field :description %>
      </div>
      <div class="field field-desc">
        <%= f.label :url, class: "lbl"%>
        <p>
          <%= link_to @movie.url %>
        </p>
      </div>
      
      <div>
        <%= f.submit class: "btn btn-primary btn-up"%>
      </div>
    </div>
  <% end %>